 body{
     width:100%;
     height:100%;  
     overflow-x: hidden;   
     font-family: 'Lato', sans-serif !important;
 }
 a:hover{
    text-decoration: none;
 }
.relative{
    position:relative
}
.p0{
    padding: 0px;
}
 ul{
     list-style: none;
 }
 .nav-menu ul {
    display: flex;
    padding: 20px 30px;
    float: right;
}
.nav-menu ul a {
    padding: 10px 20px;
    color: #fff;
    font-size: 13px;
}
.main-menu .row {
    position: absolute;
    z-index: 9;
    width: 100%;
}
.logo-section {
    position: absolute;
    top: 40px;
}
.nav-menu {
    position: absolute;
    right: 0;
    top: 20px;
}
/* slider */

.carousel{
	/*margin: 30px 0;*/
    background: #ccc;
  	position: relative;
    /*box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
}
.carousel:after {
	content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    height: 60px;
    bottom: 0px;
    left: 10px;
    right: 10px;
    border-radius: 100px / 20px;
}
.carousel .item {
    text-align: center;
	overflow: hidden;
    height: 600px;
}
.carousel .item img {
	max-width: 100%;
    margin: 0 auto; /* Align slide image horizontally center in Bootstrap v3 */
}
.carousel .carousel-control {
	width: 50px;
    height: 50px;
    /*background: #000;*/
    margin: auto 0;
	opacity: 0.8;
}
.carousel .carousel-control:hover {
	opacity: 0.9;
}
.carousel .carousel-control i {
    font-size: 41px;
    color: #fff;
}
.carousel-caption h3, .carousel-caption p {
	color: #fff;
	display: inline-block;	
	text-shadow: none;
	margin-bottom: 20px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    top: 30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.carousel-caption h3 {
	/*background: rgba(0,0,0,0.9);*/
	padding: 12px 24px;
	font-size: 20px;	
	text-transform: capitalize;
}
.carousel-caption p {
	padding: 0px 20px;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
}
.carousel-action {
	padding: 10px 0 30px;
}
.carousel-action .btn {
	min-height: 34px;
	border-radius: 0;
	margin: 3px;
	min-width: 150px;
	text-transform: uppercase;
	
}
.carousel-action .btn-primary {
	border-color: #000;
	background: none;
	color: #000;
}
.carousel-action .btn-primary:hover {
	background: #000;
	color: #fff;
}
.carousel-action .btn-success {
	background: #F44336;
	border: none;
}
.carousel-action .btn-success:hover {
	background:#525252;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	border-radius: 50%;
	margin: 1px 6px;
}
.carousel-indicators li {
	background: transparent;
	border: 1px solid #fff;
}
.carousel-indicators li.active {
	background: #f44336;
    border-color: #f44336;
}
/* slider */

.show-menu {
    padding: 0;
    background-color: #252525;
    height: 100vh;
}
ul.show-main-menu a {
    color: #fff;
    line-height: 70px;
    font-size: 30px;
}
ul.show-main-menu {
    padding-top: 120px;
    padding-left: 60px;
}
.show-menu {
    padding: 0;
    background-color: #252525;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
    margin: 0;
    display: none;
}
a.close-btn {
    position: absolute;
    top: 5%;
    right: 10%;
    color: #fff;
    font-size: 45px;
    -webkit-text-stroke: #252525 7px;
}
.box-sec {
    padding: 70px 10px;
}
.box-sec h4 {
    font-size: 16px;
    color: #f48536;
}
.box-sec h4 {
    font-size: 15px;
    color: #f48536;
    border-bottom: 1px solid #4545458f;
    margin: 0 auto;
    width: 36%;
    line-height: 30px;
}
a.read-more {
    border: 1px solid #f44336;
    padding: 5px 15px;
    color: #ffffff;
    background-color: #f44336;
}
a.read-more:hover {
    background-color: #fff;
    color: #f44336;
}
.mobile-sections {
    background-image: url(images/mobile-bg.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
}
.mobile-sections .row {
    padding: 90px;
}
.mobile-sections h3 {
    color: #fff;
}
.mobile-sections p {
    color: #fff;
    line-height: 20px;
    font-size: 15px;
}
.mobile-sections h3 {
    color: #ff3a2c;
    font-weight: 600;
}
 .testimonial {
    text-align: center;
    padding: 0px 0px;
    background-color: #F44336;
}
.testimonial h2 {
    color: #fff;
}
.gal-1 {
    background-image: url('images/gal-1.jpg');
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.comon-box {
    cursor: pointer;
    position: relative;
}
.comon-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
    color: #fff;
    top: 35%;
    display: none;
}
.greybg{
    filter: brightness(0.5);
}.img-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
.img-text {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}
.img-text p {
    color: #fff;
    font-size: 25px;
}
.img-text p {
    color: #fff;
    font-size: 25px;
}

.img-text h4 {
    color: #fff;
    font-size: 34px;
}

/* counet */
.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; 
}
 

.wrapper { width: 980px; 
    margin: 30px auto;
     position: relative;
     display: flex;
    }
.counter { background-color: #ffffff; 
    padding: 20px 0; 
    border-radius: 5px;}
.count-title { 
    font-size: 40px;
     font-weight: normal;  
     margin-top: 10px;
      margin-bottom: 0; 
      text-align: center;
      color: #f44336; }
.count-text { font-size: 13px;
     font-weight: normal;  
     margin-top: 10px;
      margin-bottom: 0; 
      text-align: center; }
.fa-2x { margin: 0 auto;
     float: none;
      display: table;
       color: #4ad1e5;
     }

     .site-footer
     {
       background-color:#26272b;
       padding:45px 0 20px;
       font-size:15px;
       line-height:24px;
       color:#737373;
     }
     .site-footer hr
     {
       border-top-color:#bbb;
       opacity:0.5
     }
     .site-footer hr.small
     {
       margin:20px 0
     }
     .site-footer h6
     {
       color:#fff;
       font-size:16px;
       text-transform:uppercase;
       margin-top:5px;
       letter-spacing:2px
     }
     .site-footer a
     {
       color:#737373;
     }
     .site-footer a:hover
     {
       color:#3366cc;
       text-decoration:none;
     }
     .footer-links
     {
       padding-left:0;
       list-style:none
     }
     .footer-links li
     {
       display:block
     }
     .footer-links a
     {
       color:#737373
     }
     .footer-links a:active,.footer-links a:focus,.footer-links a:hover
     {
       color:#3366cc;
       text-decoration:none;
     }
     .footer-links.inline li
     {
       display:inline-block
     }
     .site-footer .social-icons
     {
       text-align:right
     }
     .site-footer .social-icons a
     {
       width:40px;
       height:40px;
       line-height:40px;
       margin-left:6px;
       margin-right:0;
       border-radius:100%;
       background-color:#33353d
     }
     .copyright-text
     {
       margin:0
     }
     @media (max-width:991px)
     {
       .site-footer [class^=col-]
       {
         margin-bottom:30px
       }
     }
     @media (max-width:767px)
     {
       .site-footer
       {
         padding-bottom:0
       }
       .site-footer .copyright-text,.site-footer .social-icons
       {
         text-align:center
       }
     }
     .social-icons
     {
       padding-left:0;
       margin-bottom:0;
       list-style:none
     }
     .social-icons li
     {
       display:inline-block;
       margin-bottom:4px
     }
     .social-icons li.title
     {
       margin-right:15px;
       text-transform:uppercase;
       color:#96a2b2;
       font-weight:700;
       font-size:13px
     }
     .social-icons a{
       background-color:#eceeef;
       color:#818a91;
       font-size:16px;
       display:inline-block;
       line-height:44px;
       width:44px;
       height:44px;
       text-align:center;
       margin-right:8px;
       border-radius:100%;
       -webkit-transition:all .2s linear;
       -o-transition:all .2s linear;
       transition:all .2s linear
     }
     .social-icons a:active,.social-icons a:focus,.social-icons a:hover
     {
       color:#fff;
       background-color:#29aafe
     }
     .social-icons.size-sm a
     {
       line-height:34px;
       height:34px;
       width:34px;
       font-size:14px
     }
     .social-icons a.facebook:hover
     {
       background-color:#3b5998
     }
     .social-icons a.twitter:hover
     {
       background-color:#00aced
     }
     .social-icons a.linkedin:hover
     {
       background-color:#007bb6
     }
     .social-icons a.dribbble:hover
     {
       background-color:#ea4c89
     }
     @media (max-width:767px)
     {
       .social-icons li.title
       {
         display:block;
         margin-right:0;
         font-weight:600
       }
     }

     .container-fluid.footer-section {
        background-color: #323232;
        padding: 35px;
    }
    .footer-section .row {
        padding: 40px;
    }
    .footer-section h6 {
        font-size: 24px;
        color: #fff;
    }
    .container-fluid.footer-section p.text-justify {
        color: #fff;
    }
    .container-fluid.copy-right {
        padding: 20px 45px;
        background-color: #f44336;
    }
    .copyright-text {
        margin: 0;
        color: #fff;
        padding: 0 40px;
    }
    .copyright-text a {
        margin: 0;
        color: #fff;
    }

    @media(max-width:768px){
        a.close-btn {
            position: absolute;
            top: -430px;
            right: 15%;
            color: #fff;
            font-size: 45px;
            -webkit-text-stroke: #252525 7px;
            z-index: 999;
        }
        .carousel .item img {
            max-width: 100%;
            margin: 0 auto;
            height: 100%;
        }
        .nav-menu ul a {
            padding: 10px 10px;
            color: #fff;
            font-size: 13px;
        }
        .mobile-sections .row {
            padding: 25px;
        }
        .testimonial {
            text-align: center;
            padding: 30px 0px;
            background-color: #F44336;
            overflow-x: hidden;
        }
        .container-fluid.footer-section {
    background-color: #323232;
    padding: 10px;
}
.mobile-sections h3 {
    color: #ff3a2c;
    font-weight: 600;
    padding-top: 50px;
}
    }